$enable-gradients: true;
$enable-shadows: true;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// $body-bg: #D1D1D1;
$font-family-base: 'Poppins', sans-serif;

// colours 
$primary: #6A82FF;  
$secondary: #30387D;
$danger: #FF7777;

$gradient-bg: linear-gradient(180deg, #6A82FF 0%, #E16AFF 100%);

// fonts
$h1-font-size: 4rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;

//btn styles
// $btn-font-family: "Gilroy";
$btn-font-weight: 700;
$btn-font-size: 1.125rem;
$btn-border-radius: 12px;

// forms 
// form text
$form-text-font-size: 1rem;    
$form-text-font-style: normal;                          
$form-text-font-weight: 500;    
$form-text-color: #30387D;

// form label
$form-label-font-size: 0.875rem;
$form-label-font-weight: 600;
$form-label-color: rgba(48, 56, 125, 0.52);

// form input
$input-bg: rgba(226, 226, 230, 0.18);
$input-border-color: rgba(48, 56, 125, 0.32);
$input-focus-color: #30387D;
$input-focus-border-color: #30387D;
$input-placeholder-color: rgba(48, 56, 125, 0.52);


// box shadow
$box-shadow: 0px 17px 46px rgba(0, 0, 0, 0.25);
$box-shadow-sm: 0px 12.388px 95.8008px rgba(48, 56, 125, 0.12);
$box-shadow-lg: 0px 17.7395px 137.186px rgba(48, 56, 125, 0.12);

@import "bootstrap/scss/bootstrap";

body {
    font-size: 0.875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.btn-primary {
    background: $primary;
    border-radius: $btn-border-radius;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #536CF0;
    color: #FFFFFF;
}

.btn-primary:active {
    background: #3E51B4;
    color: #FFFFFF;
}

.btn-outlined {
    background: #FFFFFF;
    border: 1px solid #6A82FF;
    border-radius: $btn-border-radius;
    color: #6A82FF;
}

.btn-outlined:hover {
    background: #FFFFFF;
    border: 1px solid #5C74F2;
    color: #6A82FF;
}

.btn-outlined:active {
    background: #FFFFFF;
    border: 1px solid #3E51B4;
    color: #3E51B4;
}

input:invalid {
    color: $danger;
}